# Ignore dataset folder
dataset/

# Ignore temporary or large files
*.zip
*.pt
*.weights
*.ckpt

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore runtime folders
runs/
tf_runs/
predictions/

# VSCode / PyCharm project files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

